# This is Git's per-user configuration file.
[init]
  defaultBranch = main
[user]
	name = deptno
	email = deptno@gmail.com
	signingkey = 770E7F433A7BEBC20AC6712FA20921D2906CB572
[pull]
	rebase = true
[commit]
	gpgsign = true
[gpg]
	program = gpg
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	hooksPath = ~/.githooks
  precomposeUnicode = true
  quotePath = false
	autocrlf = input
  pager = delta
[alias]
  l = log --color --graph --date=short --pretty=format:'%Cgreen(%cd) %Cred%h%Creset -%C(yellow)%d%Creset %C(bold blue)<%aL>%Creset %s' --abbrev-commit
  la = log --color --graph --date=short --pretty=format:'%C(blue)%cd %C(dim magenta)%h%Creset%C(auto)%d%Creset %C(black reverse ul)%aL%Creset %s' --abbrev-commit
  ba = bisect visualize --color --date=short --pretty=format:'%C(blue)%cd %C(dim magenta)%h%Creset%C(auto)%d%Creset %C(black reverse ul)%aL%Creset %s' --abbrev-commit
  ld = log --color --graph --date=short --simplify-by-decoration --pretty=format:'%C(blue)%cd %C(dim white)%h%Creset%C(auto)%d%Creset %C(green ul italic)%aL%Creset %s' --abbrev-commit
  gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\"' | xargs -r 'git branch -D'"
  dmb = ! "git for-each-ref | grep 'commit\trefs/heads' | grep -v \"$(git rev-parse @)\" | awk '{print $3}' | sed 's|refs/heads/||' | xargs -I {} sh -c \"git branch --contains {} | grep '* ' > /dev/null && [ $? -eq 0 ] && git branch -d {}\""
  ds =  ! "1=${1:-30}; f() { git diff $(git log --since=\"$1 days ago\" --pretty=format:'%H' | tail -1).. --stat; }; f"
[diff]
  ; external = difft
  colorMoved = default
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[interactive]
  diffFilter = delta --color-only
[delta]
  paging = always
  navigate = true
  line-numbers = true
  line-numbers-left-format = {np:4}
  line-numbers-right-format = {np:4}
  line-numbers-left-style = gray
  line-numbers-right-style = gray
  hunk-header-decoration-style = blue
  hunk-header-file-style = green
  hunk-header-style = omit
  file-decoration-style = none
[pager]
  difftool = true
[merge]
	tool = vscode
  conflictstyle = diff3
[mergetool "vscode"]
	cmd = code --wait $MERGED
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[tig "bind"]
    generic = "<enter>" >git show %(commit)

[includeIf "gitdir:~/.tmux/plugins/"]
	path = ~/.gitconfig.tmux
[includeIf "gitdir:/home/bglee/"]
	path = ~/.gitconfig.w10
[includeIf "gitdir:~/workspace/src/github.com/zigbang/"]
	path = ~/.gitconfig.zigbang

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = auto
  pager = true
[color "status"]
  header = italic
  added = green
  updated = blue
  changed = white
  untracked = magenta bold
  branch = yellow bold
  nobranch = magenta bold
  localBranch = magenta bold
  remoteBranch = magenta bold
  unmerged = magenta bold
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  context = white italic dim
  meta = white italic
  frag = white
  old = white dim strike
  new = green
  commit = green
[color "decorate"]
  HEAD = red reverse bold
  branch = blue dim ul
  remoteBranch = yellow bold
  tag = magenta bold
  stash = magenta bold
[color "grep"]
  context = magenta bold
     ; non-matching text in context lines (when using -A, -B, or -C)
  filename = white dim
     ; filename prefix (when not using -h)
  function = green ul
     ; function name lines (when using -p)
  lineNumber = yellow ul
     ; line number prefix (when using -n)
  column = blue bold
     ; column number prefix (when using --column)
  match = red bold
     ; matching text (same as setting matchContext and matchSelected)
  matchContext = green bold
     ; matching text in context lines
  matchSelected = blue reverse bold
     ; matching text in selected lines
  selected = white bold
     ; non-matching text in selected lines
  separator = magenta bold
     ; separators between fields on a line (:, -, and =) and between
     ; hunks (--)
[color "interactive"]
  prompt = magenta bold
  header = magenta bold
  help = magenta bold
  error = magenta bold


# normal, black, red, green, yellow, blue, magenta, cyan and white. 
# bright, like brightred.
# bold, dim, ul, blink, reverse, italic, and strike + prefix: no-
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://huggingface.co"]
	provider = generic
